body {
    background-color: #97BCBB; 
    margin: 0;  
    padding: 0;  
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
    margin: 2rem auto;
    max-width: 45rem;
}

input {
    padding: 0.5rem;
    width: 70%;
    border: 1px solid #ccc;
    margin: 1rem 0;
    border-radius: 5px;
}

button { 
    padding: 0.5rem;
    width: 70%; 
    color: white;
    border: none;
    background-color: #CB9F25;
    margin-bottom: 1rem; 
    border-radius: 5px; 
}

#errorMessage {
    margin-top: 10px;
    color: red;
}

button:hover {
    background-color: #664f10;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.masthead {
    width: 100%;
    position: relative; 
    height: auto;
}

.masthead img {
    height: auto;
    width: 100%;
    border-radius: 8px;
    max-width: 600px;  
}

.tagline {
    bottom: 10px; 
    position: absolute; 
    left: 50%;
    font-size: 2rem;
    transform: translateX(-50%); 
    color: #CB9F25; 
    font-weight: bold;   
}